  <div class="row">
    <div class="col-sm-2 side-menu">
    <%=render 'shared/side_menu'%>
    </div>
    <section class="col-sm-5 text-center">
      <h1><%=@cuisine.name%></h1>
      <%unless @recipes.any?%>
        <section>
          Nenhuma receita encontrada para este tipo de cozinha
        </section>
      <%else%>
        <section>
          <%@recipes.each do |recipe|%>
            <h1><%=recipe.title%></h1>
            <li><%=recipe.recipe_type.name%></li>
            <li><%=recipe.cuisine.name%></li>
            <li><%=recipe.difficulty%></li>
            <li><%="#{recipe.cook_time} minutos"%></li>
          <%end%>
        </section>
      <%end%>
    </section>
    <section class="col-sm-5 text-center">
      <section>
        <h1>Nada ainda</h1> <!-- nada por enquanto-->
      </section>
    </section>
  </div>
