<!DOCTYPE html>
<body>
<h1><%=@cuisine.name%></h1>
<%unless @recipes.any?%>
	<section>
Nenhuma receita encontrada para este tipo de cozinha
	</section>
<%else%>
<section>
<%@recipes.each do |recipe|%>
  <h1><%=recipe.title%></h1>
 <li><%=recipe.recipe_type.name%></li>
 <li><%=recipe.cuisine.name%></li>
 <li><%=recipe.difficulty%></li>
 <li><%="#{recipe.cook_time} minutos"%></li>
<%end%>
</section>
<%end%>
</body>
</html>
