<nav class="navbar navbar-default" style="background-color: #B0E0E6">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1 style="margin-top: 0px"><a class="navbar-brand" href="<%=root_path%>">CookBook</a></h1> <!-- precisa ser h1 para passar no teste-->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to 'Entrar', new_user_session_path%>
        <li><%= link_to 'Início', root_path%></li>
        <li><%= link_to 'Minhas Receitas', mine_recipes_path%></li>
        <li><%= link_to 'Enviar uma receita', new_recipe_path%></li>
        <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>  <!-- não tem login ainda-->

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="row text-center busca">

  <p>Bem-vindo ao maior livro de receitas online</p>
  <% if user_signed_in? %>
    <p><%=current_user.email%></p>
  <%end%>
</div>
<div class="row busca">
  <%= form_tag(search_recipes_path, method: "get") do %>
    <div class="col-sm-3"></div>
    <div class="col-sm-1"><h4><%= label_tag(:word, "Busca") %></h4></div>
    <div class="col-sm-4"><%= text_field_tag :word, '', class: "form-control" %></div>
    <div class="col-sm-3"><%= submit_tag "Buscar", class: "btn btn-primary" %></div>
    <div class="col-sm-1"></div>

</div>   
        <% end %>
