<!DOCTYPE html>
  <body>
  
      <div class="container-fluid" style="background-color: pink; margin-top: 25px">
      <div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
      <p>Bem-vindo ao maior livro de receitas online</p></div>
      <div class="col-sm-4"></div>
      </div>



  <div class="row">

<%=render 'shared/side_menu'%>
  <div class="col-sm-4" style="background-color: yellow">
    
<div style="margin-left: 50px">
    <h2>Receitas</h2>
    <% @recipes.each do |recipe|%>
      <h1><%= link_to recipe.title, recipe_path(recipe.id)%></h1>
      <li><%=recipe.recipe_type.name%></li>
      <li><%=recipe.cuisine.name %></li>
      <li><%=recipe.difficulty%></li>
      <li><%="#{recipe.cook_time} minutos"%></li>
    <%end%>
</div>


  </div>
  <div class="col-sm-4" style="background-color: gray">
   
<div style="margin-left: 50px">
    <h2>Favoritas</h2> <!-- nada por enquanto-->

</div>

  </div>

  </div>


  </div>
  <%=render 'shared/footer'%>
  </body>
</html>

