<%if flash[:error] %>
<div class="alert alert-danger text-center" role="alert"><%= flash[:error] %></div>
<% end %>
<div>
<%=form_for @new_type do |f|%>
<%=f.label :name, 'Nome'%>
<%=f.text_field :name%>
<%=f.submit 'Enviar'%>
<%end%>
</div>

