  <div class="container-fluid" style="back: 25px; background-color: #E0FFFF;">
  <div class="row">
  <div class="col-sm-3"><h1>CookBook</h1> </div>
  <div class="col-sm-4"><div style="margin-top: 15px;">
    <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:word, "Busca") %>
    <%= text_field_tag(:word) %>
    <%= submit_tag("Buscar") %>
  <% end %>
  </div>
  </div>
  <div class="col-sm-5">
  <div style="margin-top: 13px;">
   <ul class="nav nav-pills">
   <li role="presentation" class="active"><%= link_to 'Início', root_path%></li>
   <li role="presentation"><%= link_to 'Minhas Receitas', root_path%></li>
   <li role="presentation"><%= link_to 'Enviar uma receita', new_recipe_path%></li>
   <li role="presentation"><%= link_to 'Sair', "#" %></li>
   </ul>
  </div>
  </div>
</div>
</div>



