<!DOCTYPE html>
<html>
  <head>
    <title>Teste</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:word, "Busca") %>
    <%= text_field_tag(:word) %>
    <%= submit_tag("Buscar") %>
  <% end %>
    <%= yield %>
  </body>
</html>
